.sectionPart {
  background: #f4f5f8;
  width: 100%;
  
}

.generalDiv {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(17, 18, 54, 0.16);
  border-radius: 16px;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

.descriptionPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 895px;
  gap: 8px;
}

.descriptionIconPart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.descriptionHeaderPart {
  font-family: "Gilroy-regular";
  font-weight: 500;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  font-feature-settings: "kern" off;
  color: #5a00ee;
}

.descriptionPghPart {
  font-family: "Gilroy-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "kern" off;
  color: #5f5f5f;
}

.uploadPart {
  width: 100%;
  max-width: 1288px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
  gap: 16px;
  border: 2px dashed #b7b7b7;
  border-radius: 16px;
}

.uploadDescription {
  font-family: "Gilroy-regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "kern" off;
  color: #5f5f5f;
}

.uploadButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  border: thick;
  font-family: "Gilroy-medium";
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "kern" off;
  background: #c209c1;
  border-radius: 8px;
}
.uploadPart:has(.uploadButton:hover) {
  background-color: rgba(250, 234, 250, 0.3);
}

.dropAndDrive {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
.uploadPart[draggable="true"] {
  background: rgba(250, 234, 250, 0.3);

  border: 2px dashed #c209c1;
}
.dropboxButton,
.googleDriveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 8px;
  font-family: "Gilroy-regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: thick;
  color: #4c4c4c;
  background: #f7f7f7;
  border-radius: 6px;
}

@media (max-width: 500px) {
  .sectionPart {
    padding: 24px;
  }
  .fileUpload {
    padding: 16px;
  }
}

@media (max-width: 425px) {
  .sectionPart {
    padding: 24px;
  }
  .fileUpload {
    padding: 16px;
  }

  .descriptionHeaderPart {
    font-size: 30px;
    line-height: 36px;
    padding: 0 10px;
  }
  .uploadPart {
    margin-top: 24px;
    padding: 24px;
  }
  .uploadButton {
    padding: 12px 18px;
  }
  .dropboxButton div,
  .googleDriveButton div {
    display: none;
  }
}

.bgOnclick {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
