.settingsPart {
    width: calc(480/1440 * 100%);
    background: #FFFFFF;
    height: 100%;
    padding: 12px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsDiv1 {
    width: 186px;
    flex-grow: 1;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */

    font-feature-settings: 'kern' off;

    color: #000000;

}
.settingsDiv2 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.settingsDiv2Pgh {
    width: 120px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2 - 101px);

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'kern' off;

    color: #000000;
}
.settingsDiv2Icon {
    display: flex;
    justify-content: center;
}
.settingsDiv3 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-grow: 0.5;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.options > div {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Old Colors/Icons And Typography Light Mode/lightIconTypographyTetriary */

    color: #949494;
}
.optionsPart , .disabledDiv {
    all: unset;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 93.5px;
    height: 93px;
    border: 1.83126px solid #E0E0E0;
    border-radius: 7.32504px;
    cursor: pointer;
}


.settingsDiv4 {
    display: flex;
    flex-grow: 2;
    align-items: center;
    gap: 1.188rem;
    
}

.disabledDiv {
    cursor: not-allowed;
    opacity: 0.5;
}

.inputNum:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.measurePart {
    display: flex;
    flex-direction: column;

}
.measureIconPart {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.measureIcon {
    width: 12.43px;
    height: 23.27px;
    
}
.measurePgh {
    width: 80px;
    height: 20px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #000000;

}

.measureInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 10px;
    margin-top: 7px;


    width: 174px;
    height: 48px;

    border: 2px solid #E0E0E0;
    border-radius: 8px;
}
.optionIcons {
    width: 24px;
    height: 24px;
}

.inputNum {
    border: none;
}
.inputNum:focus-visible {
    outline: none;
}

.shareButton, .downloadButton {
    display: flex;
}

.settingDiv5Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    width: 194px;
    height: 56px;
}

.settingsDiv5 {
    display: flex;
    gap: 12px;
    flex-grow: 2;
    align-items: flex-end;
}
.settingDiv5Context {
    width: 95px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* New Colors/Accent Light Mode/Primary */

    color: #C209C1;

}

#downloadButton {
    background: #C209C1;
    
}
#downloadContext {
    color: #FFFFFF;
}



.pixelText {
    all: unset;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    width: 19px;
    height: 24px;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
  
    /* Old Colors/Icons And Typography Light Mode/lightIconTypographyTetriary */
  
    color: #949494;
  }
