.settingsPart {
  background: #ffffff;
  padding: 15px 40px 40px;
  display: flex;
  flex-direction: column;
}

.settingsDiv1 {
  font-family: "Gilroy-semibold";
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  font-feature-settings: "kern" off;
  color: #000000;
  margin-bottom: 24px;
}
.settingsDiv1 + div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 32px;
  margin-bottom: 211px;
}

.settingsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.settingsDiv2 {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.settingsDiv2Pgh {
  font-family: "Gilroy-semibold";
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  font-feature-settings: "kern" off;
}

.settingsDiv2Icon {
  display: flex;
  justify-content: center;
  color: #949494;
}

.settingsDiv3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
.optionsPart,
.disabledDiv {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vmin;
  padding: 0 12px;
  border: 1.8px solid #e0e0e0;
  border-radius: 7.3px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.options > div {
  font-family: "Gilroy-regular";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-feature-settings: "kern" off;
  color: #949494;
}

.settingsDiv4 {
  display: flex;
  flex-grow: 2;
  align-items: center;
  gap: 1.188rem;
}

.disabledDiv {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputNum:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.measurePart {
  display: flex;
  flex-direction: column;
}
.measureIconPart {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.measureIcon {
  width: 12.43px;
  height: 23.27px;
}
.measurePgh {
  font-family: "Gilroy-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "kern" off;
  color: #000000;
  margin-bottom: 8px;
}

.measureInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.optionIcons {
  width: 24px;
  height: 24px;
}

.inputNum {
  border: none;
}
.inputNum:focus-visible {
  outline: none;
}

.shareButton,
.downloadButton {
  display: flex;
}

.settingDiv5Button {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  gap: 8px;
  border-radius: 8px;
  border: none;
  border: 1px solid #c209c1;
}

.settingsDiv5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.settingDiv5Context {
  font-family: "Gilroy-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #c209c1;
}

#downloadButton {
  background: #c209c1;
}
#downloadContext {
  color: #ffffff;
}

.pixelText {
  all: unset;
  font-family: "Gilroy-regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #949494;
}
@media (max-width: 1100px) {
  .settingsDiv4 {
    width: 100%;
    justify-content: center;
  }
  .settingDiv5Button {
    width: 80%;
    padding: 2% 0;
  }
  .settingsDiv1 + div {
    margin-bottom: 24px;
  }
  .settingsDiv3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    overflow-x: scroll;
  }
  .optionsPart,
  .disabledDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 80px;
    height: 80px;
  }
  .settingsPart {
    padding: 10px 20px 20px;
  }
}
