.startoverWindow {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px;
  gap: 32px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(17, 18, 54, 0.16);
}

.startOverDiv2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.startOverDiv1 {
  width: 436px;
  font-family: "Gilroy-medium";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #121212;
  font-feature-settings: "kern" off;
  align-self: stretch;
}

.startOverCancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 16px;
}

.startOverAcception {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;
  color: #ffffff;
  border: none;
  background: #c209c1;
  border-radius: 16px;
}

@media (max-width: 1100px) {
  .startoverWindow {
    align-items: center;
    padding: 2rem 1rem;
  }
  .startOverDiv1 {
    width: 343px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .startoverWindow {
    padding: 2rem 0;
    box-shadow: 0px 1px 4px rgba(17, 18, 54, 0.16);
  }
  .startOverDiv1 {
    width: 343px;
    justify-content: center;
    font-size: 18px;
  }
}
